#footer {
  height: 100px;
  width: 100%;
  background-color: rgb(54, 54, 54);
  /* background-color: rgb(38, 45, 56); */
  color: white;
  clear: both;
  position: relative;
  margin-top: -100px;
}

#footer li {
  list-style: none;
  font-size: 1.5em;
}

#footer a {
  color: white;
}

.copyright {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
